:host {
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

// app-scroll {
//   background-color: red;
//   color: blue;
//   border: red 10px;

//   min-width: 100vw;
//   min-height: 100vh;
// }

.container {
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  //   min-width: 100%;
  //   min-height: 100%;
  background-color: red;
}
