app-scroll {
  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
}

div {
  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
}

.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
}
